<div class="container posts-page">
 
  <div class="post row" ng-repeat="(postId, post) in posts">
    <div class="col-xs-1">
 
    </div>
    <div class="col-md-9 col-xs-11">
 
      <div class="info">
        <a href="{{ post.url }}">
          {{ post.title }}
          <span class="url">({{ post.url | hostnameFromUrl }})</span>
        </a>
      </div>
      <div>
        <a href="#/posts/{{ postId }}">comments</a>
        <a ng-click="deletePost(postId)">delete</a>
      </div>
    </div>
    <div class="col-md-2">
      
    </div>
 
  </div>
 
</div>
